* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --txt-black: #323238;

    --bg-btnSounds: #E1E1E6;
    --bg-btnSounds-hover: #02799D;

    --color-fill-hover-iconeSounds: #FFFFFF;
}

body, figcaption{
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    min-height: 100vh;
}

.hide{
    display: none;
}

.effects{
    animation: btnControlsEffects .1s;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 82.1rem;
}

#timerAndControls{
    text-align: center;
}

#timerAndControls span{
    font-size: clamp(1.6rem, 1.6rem + 15vw, 12.6rem);

    text-align: center;
    text-transform: uppercase;
    
    color: var(--txt-black);
}

#controls{
    display: flex;
    justify-content: space-between;
}

#controls button{
    position: relative;
    border: none;
    background-color: transparent;
    transition: all .2s;
    align-content: center;
}

#controls button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#controls button figcaption{
    position: absolute;
    width: 100%;
    padding-top: 1rem;
    display: none;
}

#controls button:hover figcaption{
    display: block;
}

#typesOfSounds{
    display: grid;
    grid-template-areas: 
    "A B"
    ;
    gap: 3.2rem;
}

#typesOfSounds button{
    border: none;
    padding: 4.8rem;
    background: var(--bg-btnSounds);
    border-radius: 2.4rem;

    transition: all .2s;
}

#typesOfSounds button:hover{
    background: var(--bg-btnSounds-hover);
    transform: scale(1.1);
    cursor: pointer;
}

#typesOfSounds button svg path{
    transition: .2s;
}

#typesOfSounds button:hover svg path{
    fill: var(--color-fill-hover-iconeSounds);
}

/*  MOBILE */

@media (max-width: 47.938em){
    body{
        position: relative;
    }
    #container{
        flex-direction: column;
    }

    #controls button svg{
        width: 3.5rem;
    }

    #controls button figcaption{
        font-size: 1.2rem;
        display: block;
    }

    #typesOfSounds{
        grid-template-areas: 
        "A"
        ;
        gap: 1rem;
        position: absolute;
        right: 3vw;
        top: 3vw;
    }
    
    #typesOfSounds button{
        padding: 1rem;
        border-radius: .5rem;

        transition: all .2s;
    }
    
    #typesOfSounds button svg{
        width: 3rem;
        height: 3rem;
    }

    #timerAndControls #controls button svg{
        width: clamp(3rem, 7vw, 4.8rem);
        height: clamp(3rem, 7vw, 4.8rem);
    }
}

/*  ANIMATIONS */

@keyframes btnControlsEffects{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1.1);
    }
}